/* animation loader */
@keyframes rotate-loader {
    to{
        transform: rotate(360deg);
    }
    
}
@keyframes temps-chargement {
    0%{
        visibility: visible;
        opacity: 0.9;
    }
    70%{
        opacity: 0.9;
    }
    100%{
        visibility: hidden;
    }
    
}
/* animation plats qui s'affichent progressivement */
@keyframes section-bloc-plats {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity: 1;
    }
}

.bloc-plats{

.animation-delay1{
    animation:1500ms ease-in 1s section-bloc-plats;
    animation-delay: -900ms;
}
.animation-delay2{
    animation: 1500ms ease-in 1s section-bloc-plats;
    animation-delay: -600ms;   
}
.animation-delay3{
    animation: 1500ms ease-in 1s section-bloc-plats;
    animation-delay: -300ms;
}
}


/* icons coeurs menu */
.animation-heart-menu{
    &:hover{
    .icons{
    @include icon-heart-transition-opacity;
   }
  .icons-2{
    @include icon-heart-opacity;
  }
  }
}
/* icons coeur page accueil desktop */
.animation-heart{
 &:hover{
    .section-icons{
    @include icon-heart-transition-opacity;
    }
    .section-icons-2{
    @include icon-heart-opacity;
    }
 }
}

/* icons coeur page accueil mobile */
.animation-heart{
    @include mobile{
    &:active{
       .section-icons{
       @include icon-heart-transition-opacity;
       }
       .section-icons-2{
       @include icon-heart-opacity;
       }
    }
   }
}
/* animation cloche verte mobile */
.section-bloc-plats{
    @include mobile{
    &:active{
        .card-icon-check{
            right: 0;
        }
        .fa-check-circle{
            transition:800ms;
            transform:rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
        }
        .card-prix{
            right: 50px;
        }
        .section-plats{
            width: 70%;
     
       }
    }
  }
}
/* animation cloche verte tablet */
.section-bloc-plats{
    @include tablet{
    &:active{
        .card-icon-check{
            right: 0;
        }
        .fa-check-circle{
            @include rotate-cloche-verte;
        }
        .card-prix{
            right: 50px;
        }
        .section-plats{
            width: 70%;
     
       }
    }
  }
}
/* animation cloche verte desktop */
.section-bloc-plats{

    &:hover{
        .card-icon-check{
            right: 0;
        }
        .fa-check-circle{
            @include rotate-cloche-verte;
        }
        .card-prix{
            right: 50px;
        }
        .section-plats{
            width: 70%;
     
       }
    }
}
/* bouton page accueil */
.article-btn{
    opacity: 1;
    transition:transform 400ms;
    &:hover{
        opacity: 0.7;
        box-shadow: 2.2px 2.2px 6px 2.2px gray;
    }
}
/* bouton menu */
.section-menu-btn{
    opacity: 1;
    transition:transform 400ms;
    &:hover{
        opacity: 0.7;
        box-shadow: 2.2px 2.2px 6px 2.2px gray;
    }
}
/* survol filtres */
.main-card{
    opacity: 1;
    transition:transform 400ms;
    &:hover{
        opacity:0.7;
        box-shadow: 2.2px 2.2px 6px 2.2px gray;
    }
}
.main-card2{
    opacity:1;
    transition:transform 400ms;
    &:hover{
        opacity:0.7;
        box-shadow: 2.2px 2.2px 6px 2.2px gray;
    }
}