@charset "UTF-8";
@font-face {
  font-family: Roboto-Medium;
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Thin;
  src: url("fonts/Roboto-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Shrikhand-Regular;
  src: url("fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* animation loader */
@-webkit-keyframes rotate-loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes temps-chargement {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes temps-chargement {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    visibility: hidden;
  }
}

/* animation plats qui s'affichent progressivement */
@-webkit-keyframes section-bloc-plats {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes section-bloc-plats {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.bloc-plats .animation-delay1 {
  -webkit-animation: 1500ms ease-in 1s section-bloc-plats;
          animation: 1500ms ease-in 1s section-bloc-plats;
  -webkit-animation-delay: -900ms;
          animation-delay: -900ms;
}

.bloc-plats .animation-delay2 {
  -webkit-animation: 1500ms ease-in 1s section-bloc-plats;
          animation: 1500ms ease-in 1s section-bloc-plats;
  -webkit-animation-delay: -600ms;
          animation-delay: -600ms;
}

.bloc-plats .animation-delay3 {
  -webkit-animation: 1500ms ease-in 1s section-bloc-plats;
          animation: 1500ms ease-in 1s section-bloc-plats;
  -webkit-animation-delay: -300ms;
          animation-delay: -300ms;
}

/* icons coeurs menu */
.animation-heart-menu:hover .icons {
  visibility: hidden;
  opacity: 0;
}

.animation-heart-menu:hover .icons-2 {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s,visibility 0.3s;
  transition: opacity 0.3s,visibility 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 3500ms;
          transition-duration: 3500ms;
}

/* icons coeur page accueil desktop */
.animation-heart:hover .section-icons {
  visibility: hidden;
  opacity: 0;
}

.animation-heart:hover .section-icons-2 {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s,visibility 0.3s;
  transition: opacity 0.3s,visibility 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 3500ms;
          transition-duration: 3500ms;
}

/* icons coeur page accueil mobile */
@media screen and (max-width: 767px) {
  .animation-heart:active .section-icons {
    visibility: hidden;
    opacity: 0;
  }
  .animation-heart:active .section-icons-2 {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s,visibility 0.3s;
    transition: opacity 0.3s,visibility 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 3500ms;
            transition-duration: 3500ms;
  }
}

/* animation cloche verte mobile */
@media screen and (max-width: 767px) {
  .section-bloc-plats:active .card-icon-check {
    right: 0;
  }
  .section-bloc-plats:active .fa-check-circle {
    -webkit-transition: 800ms;
    transition: 800ms;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
  .section-bloc-plats:active .card-prix {
    right: 50px;
  }
  .section-bloc-plats:active .section-plats {
    width: 70%;
  }
}

/* animation cloche verte tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-bloc-plats:active .card-icon-check {
    right: 0;
  }
  .section-bloc-plats:active .fa-check-circle {
    -webkit-transition: 800ms;
    transition: 800ms;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
  .section-bloc-plats:active .card-prix {
    right: 50px;
  }
  .section-bloc-plats:active .section-plats {
    width: 70%;
  }
}

/* animation cloche verte desktop */
.section-bloc-plats:hover .card-icon-check {
  right: 0;
}

.section-bloc-plats:hover .fa-check-circle {
  -webkit-transition: 800ms;
  transition: 800ms;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.section-bloc-plats:hover .card-prix {
  right: 50px;
}

.section-bloc-plats:hover .section-plats {
  width: 70%;
}

/* bouton page accueil */
.article-btn {
  opacity: 1;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.article-btn:hover {
  opacity: 0.7;
  -webkit-box-shadow: 2.2px 2.2px 6px 2.2px gray;
          box-shadow: 2.2px 2.2px 6px 2.2px gray;
}

/* bouton menu */
.section-menu-btn {
  opacity: 1;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.section-menu-btn:hover {
  opacity: 0.7;
  -webkit-box-shadow: 2.2px 2.2px 6px 2.2px gray;
          box-shadow: 2.2px 2.2px 6px 2.2px gray;
}

/* survol filtres */
.main-card {
  opacity: 1;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.main-card:hover {
  opacity: 0.7;
  -webkit-box-shadow: 2.2px 2.2px 6px 2.2px gray;
          box-shadow: 2.2px 2.2px 6px 2.2px gray;
}

.main-card2 {
  opacity: 1;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.main-card2:hover {
  opacity: 0.7;
  -webkit-box-shadow: 2.2px 2.2px 6px 2.2px gray;
          box-shadow: 2.2px 2.2px 6px 2.2px gray;
}

* {
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto-Regular;
}

/* loader */
.c-loader-background {
  position: absolute;
  width: 100%;
  height: 1450px;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  visibility: hidden;
  -webkit-animation: temps-chargement 3s;
          animation: temps-chargement 3s;
  /* animation fichier animation */
}

@media screen and (max-width: 767px) {
  .c-loader-background {
    height: 2230px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-loader-background {
    height: 1200px;
  }
}

.c-loader-background .c-loader {
  border: solid 6px gray;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border-top-color: #9356DC;
  margin-bottom: 900px;
  -webkit-animation: rotate-loader 3s linear infinite;
          animation: rotate-loader 3s linear infinite;
  /* animation fichier animation */
}

@media screen and (max-width: 767px) {
  .c-loader-background .c-loader {
    margin-bottom: 1600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-loader-background .c-loader {
    margin-bottom: 300px;
  }
}

/* header */
header .header-h1 {
  font-size: 40px;
  margin-left: 500px;
  padding-top: 20px;
  font-family: Shrikhand-Regular;
  padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
  header .header-h1 {
    position: relative;
    right: 390px;
    font-size: 27px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .header-h1 {
    position: relative;
    right: 220px;
  }
}

header .header-icons {
  margin-left: 20px;
  position: relative;
  top: 18px;
}

@media screen and (max-width: 767px) {
  header .header-icons {
    margin-left: 20px;
  }
}

header .header-localisation {
  margin-left: 50px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  header .header-localisation {
    margin-left: 50px;
  }
}

header .header-card {
  height: 60px;
  background-color: #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  header .header-card {
    padding-left: 90px;
  }
}

header #header-image-menu {
  /* MENU RESTAURANTS pages 2,3,4 et 5 */
  height: 300px;
}

@media screen and (max-width: 767px) {
  header #header-image-menu {
    height: 175px;
  }
}

header .incon-flèche {
  text-decoration: none;
  list-style: none;
  color: black;
  position: relative;
  top: 53px;
  left: 20px;
}

/* article */
article {
  background-color: whitesmoke;
  height: 120px;
}

@media screen and (max-width: 767px) {
  article {
    height: 250px;
  }
}

article .article-h1 {
  margin-left: 20px;
  padding-top: 30px;
  font-family: Shrikhand-Regular;
}

@media screen and (max-width: 767px) {
  article .article-h1 {
    font-size: 23px;
    margin-left: 50px;
    margin-right: 50px;
    text-align-last: center;
  }
}

article .article-p {
  padding-top: 5px;
  margin-left: 20px;
  font-family: Roboto-Thin;
}

@media screen and (max-width: 767px) {
  article .article-p {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    text-align-last: center;
  }
}

article .article-a {
  text-decoration: none;
  list-style: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 55px;
  right: 30px;
}

article .article-btn {
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 25px;
  -webkit-box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
          box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
  cursor: pointer;
  width: 17%;
  height: 45px;
  padding-top: 12px;
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  article .article-btn {
    position: relative;
    right: 50px;
    top: 80px;
    width: 56.5%;
    padding-right: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  article .article-btn {
    position: relative;
    right: 20px;
    top: 10px;
    width: 28%;
  }
}

/* main */
main h2 {
  padding-left: 20px;
  padding-top: 20px;
  font-family: Shrikhand-Regular;
  font-size: 25px;
}

@media screen and (max-width: 767px) {
  main h2 {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

main .main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  main .main-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .main-card {
  border: none;
  background-color: whitesmoke;
  border-radius: 20px;
  width: 21%;
  margin-left: 30px;
  margin-top: 20px;
  -webkit-box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
          box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  main .main-card {
    width: 85%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .main-card {
    width: 28%;
  }
}

main .main-card2 {
  border: none;
  background-color: whitesmoke;
  border-radius: 20px;
  width: 21%;
  margin-left: 30px;
  margin-top: 20px;
  -webkit-box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
          box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
  cursor: pointer;
  background-color: #f2eafb;
}

@media screen and (max-width: 767px) {
  main .main-card2 {
    width: 85%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .main-card2 {
    width: 28%;
  }
}

main .main-a {
  text-decoration: none;
  list-style: none;
  color: black;
}

main .main-1 {
  border: none;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  width: 7%;
  padding-left: 4px;
  position: relative;
  top: 28px;
  right: 7px;
}

@media screen and (max-width: 767px) {
  main .main-1 {
    padding-left: 6px;
    padding-top: 2px;
    height: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .main-1 {
    position: relative;
    top: 35px;
    padding-right: 14px;
  }
}

main .main-2 {
  border: none;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  width: 7%;
  padding-left: 4px;
  position: relative;
  top: 28px;
  right: 7px;
}

@media screen and (max-width: 767px) {
  main .main-2 {
    padding-left: 6px;
    padding-top: 2px;
    height: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .main-2 {
    position: relative;
    top: 35px;
    padding-right: 14px;
  }
}

main .main-3 {
  border: none;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  width: 7%;
  padding-left: 4px;
  position: relative;
  top: 28px;
  right: 7px;
}

@media screen and (max-width: 767px) {
  main .main-3 {
    padding-left: 6px;
    padding-top: 2px;
    height: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .main-3 {
    position: relative;
    top: 35px;
    padding-right: 14px;
  }
}

main .main-menu {
  padding-left: 68px;
  position: relative;
  bottom: 10px;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  main .main-menu {
    padding-left: 72px;
  }
}

main i {
  color: grey;
  padding-left: 30px;
  position: relative;
  top: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main i {
    position: relative;
    top: 15px;
  }
}

main .main-icons-color {
  color: #9356DC;
}

/* section */
section #bloc-restaurants {
  width: 100%;
  height: 900px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin-top: 50px;
  background-color: #ebebeb;
}

@media screen and (max-width: 767px) {
  section #bloc-restaurants {
    height: 1300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section #bloc-restaurants {
    height: 650px;
  }
}

section h3 {
  padding-left: 20px;
  padding-top: 20px;
  font-family: Shrikhand-Regular;
  font-size: 25px;
}

@media screen and (max-width: 767px) {
  section h3 {
    padding-top: 50px;
    font-size: 23px;
  }
}

section .card-1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) {
  section .card-1-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .card-3-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) {
  section .card-3-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .bloc-la-palette {
  border: none;
  width: 40%;
  height: 330px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
          box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  margin-left: 20px;
  padding-bottom: 100px;
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  section .bloc-la-palette {
    width: 90%;
    height: 260px;
    position: relative;
    bottom: 10px;
    right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-la-palette {
    height: 235px;
  }
}

section a {
  text-decoration: none;
  list-style: none;
  color: black;
}

section .bloc-la-palette img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  section .bloc-la-palette img {
    height: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-la-palette img {
    height: 155px;
  }
}

section .bloc-nouveau {
  border: none;
  width: 18%;
  height: 30px;
  padding-left: 12px;
  padding-top: 5px;
  position: relative;
  bottom: 280px;
  left: 400px;
  font-family: Roboto-Medium;
  background-color: #99E2D0;
  color: #2c9c81;
}

@media screen and (max-width: 767px) {
  section .bloc-nouveau {
    position: relative;
    left: 235px;
    bottom: 213px;
    width: 26%;
    padding-left: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-nouveau {
    position: relative;
    left: 190px;
    bottom: 190px;
    width: 30%;
  }
}

section .description-la-palette {
  font-family: Roboto-Medium;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: 10px;
}

section .localisation {
  padding-top: 5px;
  padding-left: 10px;
  font-family: Roboto-Thin;
  position: relative;
  top: 10px;
}

section .section-icons {
  /* icon coeur vide */
  position: relative;
  right: 75px;
  top: 300px;
  font-size: 26px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  section .section-icons {
    position: relative;
    left: 310px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .section-icons {
    position: relative;
    right: 50px;
  }
}

section .section-icons-2 {
  /* icon coeur rempli */
  visibility: hidden;
  opacity: 0;
  color: transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  position: relative;
  right: 105px;
  top: 300px;
  font-size: 26px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  section .section-icons-2 {
    position: relative;
    left: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .section-icons-2 {
    position: relative;
    right: 50px;
    top: 270px;
  }
}

section .animation-heart {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .animation-heart {
    bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  section .animation-heart {
    bottom: 372px;
    height: 25px;
  }
}

@media screen and (max-width: 767px) {
  section .animation-heart .heart2 {
    position: relative;
    top: 270px;
  }
}

@media screen and (max-width: 767px) {
  section .animation-heart .heart3 {
    position: relative;
    top: 240px;
  }
}

@media screen and (max-width: 767px) {
  section .animation-heart .heart3-3 {
    position: relative;
    top: 241px;
    left: 280px;
  }
}

@media screen and (max-width: 767px) {
  section .animation-heart .heart4 {
    position: relative;
    top: 207px;
  }
}

@media screen and (max-width: 767px) {
  section .animation-heart .heart4-4 {
    position: relative;
    left: 280px;
    top: 207px;
  }
}

section .bloc-la-note {
  border: none;
  width: 40%;
  height: 330px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
          box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  section .bloc-la-note {
    width: 90%;
    height: 260px;
    position: relative;
    bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-la-note {
    height: 235px;
  }
}

section .bloc-la-note img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 247px;
}

@media screen and (max-width: 767px) {
  section .bloc-la-note img {
    height: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-la-note img {
    height: 155px;
  }
}

section .description-la-note {
  font-family: Roboto-Medium;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: 10px;
}

section .bloc-française {
  border: none;
  width: 40%;
  height: 330px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
          box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  margin-left: 20px;
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  section .bloc-française {
    width: 90%;
    height: 260px;
    position: relative;
    bottom: 70px;
    right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-française {
    height: 230px;
  }
}

section .bloc-française img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  section .bloc-française img {
    height: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-française img {
    height: 150px;
  }
}

section .description-française {
  font-family: Roboto-Medium;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: 10px;
}

section .bloc-le-delice {
  border: none;
  width: 40%;
  height: 330px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
          box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  section .bloc-le-delice {
    width: 90%;
    height: 260px;
    position: relative;
    bottom: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-le-delice {
    height: 235px;
  }
}

section .bloc-le-delice img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 245px;
}

@media screen and (max-width: 767px) {
  section .bloc-le-delice img {
    height: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-le-delice img {
    height: 155px;
  }
}

section .description-le-delice {
  font-family: Roboto-Medium;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: 10px;
}

section .section-menus {
  /*  Section MENU RESTAURANTS pages 2,3,4 et 5 */
  border: none;
  background-color: #ebebeb;
  border-radius: 25px 25px 0 0;
  padding-bottom: 70px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .section-menus {
    height: 1200px;
  }
}

section .h2-menus {
  padding-left: 20px;
  padding-top: 40px;
  font-size: 28px;
  font-family: Shrikhand-Regular;
}

@media screen and (max-width: 767px) {
  section .h2-menus {
    font-size: 25px;
  }
}

section .icons {
  position: relative;
  left: 370px;
  bottom: 35px;
  font-size: 26px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  section .icons {
    position: relative;
    left: 300px;
    bottom: 43px;
  }
}

section .icons-2 {
  visibility: hidden;
  opacity: 0;
  color: transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  font-size: 26px;
  position: relative;
  left: 340px;
  bottom: 35px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  section .icons-2 {
    position: relative;
    left: 270px;
    padding-top: 9px;
  }
}

@media screen and (max-width: 767px) {
  section .icon-coeur-française {
    position: relative;
    right: 15px;
  }
}

section .section-menu-h3 {
  font-family: Roboto-Thin;
  border-bottom: solid #99E2D0;
  font-size: 20px;
  height: 30px;
  width: 13%;
}

@media screen and (max-width: 767px) {
  section .section-menu-h3 {
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .section-menu-h3 {
    margin-left: 20px;
    width: 8%;
  }
}

section .section-bloc-plats {
  border: none;
  background-color: white;
  height: 70px;
  border-radius: 15px;
  margin-top: 20px;
  position: relative;
  -webkit-animation: section-bloc-plats;
          animation: section-bloc-plats;
  /* animation fichier animation */
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  section .section-bloc-plats {
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .section-bloc-plats {
    width: 60%;
    margin-left: 200px;
  }
}

@media screen and (max-width: 767px) {
  section .section-bloc-plats-delice {
    height: 90px;
  }
}

section .bloc-plats {
  width: 30%;
}

@media screen and (max-width: 767px) {
  section .bloc-plats {
    width: 95%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-plats {
    width: 80%;
  }
}

section .bloc-plats a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

section .section-prix {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  padding-right: 20px;
}

section .card-prix {
  border: none;
  width: 15%;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 45px;
  padding-right: 20px;
  -webkit-transition: 400ms all ease-out;
  transition: 400ms all ease-out;
  /* animation */
}

section .fa-check-circle {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 150%;
  margin-bottom: 22px;
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  section .fa-check-circle {
    position: absolute;
    left: 12px;
    /* animation fichier animation */
  }
}

@media screen and (max-width: 767px) {
  section .fa-check-circle-delice {
    position: absolute;
    bottom: 10px;
  }
}

section .card-icon-check {
  position: absolute;
  bottom: 0;
  right: 0;
  right: -15%;
  background-color: #99E2D0;
  border: none;
  width: 15%;
  height: 70px;
  border-radius: 0 15px 15px 0;
  -webkit-transition: 400ms all ease-out;
  transition: 400ms all ease-out;
  /* animation */
}

@media screen and (max-width: 767px) {
  section .card-icon-check-delice {
    height: 90px;
  }
}

section .nom-plats {
  font-family: Roboto-Medium;
  padding-left: 10px;
  font-size: 18px;
  padding-top: 25px;
  position: relative;
  bottom: 10px;
}

@media screen and (max-width: 767px) {
  section .nom-plats-delice {
    padding-right: 50px;
  }
}

section .section-plats {
  padding-top: 5px;
  padding-left: 10px;
  font-family: Roboto-Thin;
  position: relative;
  bottom: 10px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  /* animation */
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

section .bloc-menu-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 767px) {
  section .bloc-menu-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .bloc-menu-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .section-menu-btn {
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 25px;
  -webkit-box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
          box-shadow: 1.1px 1.1px 5px 1.1px lightgray;
  cursor: pointer;
  width: 12%;
  height: 40px;
  padding-top: 9px;
  padding-left: 30px;
  position: relative;
  left: 530px;
  top: 25px;
}

@media screen and (max-width: 767px) {
  section .section-menu-btn {
    position: relative;
    left: 100px;
    top: 50px;
    width: 40%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section .section-menu-btn {
    width: 20%;
    position: relative;
    left: 290px;
  }
}

/* footer */
footer {
  background-color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  height: 100px;
}

@media screen and (max-width: 767px) {
  footer {
    height: 150px;
    padding-left: 25px;
  }
}

footer .footer-h1 {
  font-family: Shrikhand-Regular;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  footer .footer-h1 {
    position: relative;
    right: 18px;
  }
}

footer .footer-a {
  text-decoration: none;
  list-style: none;
  color: black;
  color: white;
}

footer .footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  text-decoration: none;
  list-style: none;
  color: black;
}

@media screen and (max-width: 767px) {
  footer .footer-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */