@import "./variables";
@import "./mixins";
@import "./bases";
@import "./animations";


* {
    max-width: 100%;
    padding: 0%;
    margin: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family:Roboto-Regular;
  }
body{
    animation: body-overflow 3s;
}
/* loader */
.c-loader-background{
    position: absolute;
    width: 100%;
    height: 1450px;
    background: $color-fond-card;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    visibility: hidden;
    animation:temps-chargement 3s; /* animation fichier animation */
    @include mobile{
        height: 2230px;
    }
    @include tablet{
        height: 1200px;
    }
    
    .c-loader{
        border: solid 6px gray;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        border-top-color: $secondary-color;
        margin-bottom: 900px;
        animation:rotate-loader 3s linear infinite; /* animation fichier animation */
        @include mobile{
            margin-bottom: 1600px;
        }
        @include tablet{
            margin-bottom: 300px;
        }
    }
}

/* header */
header {

    .header-h1{
        @include header-h1;
         position: relative;
         bottom: 7px;
        @include mobile{
            position: relative;
            right: 370px; 
            font-size: 29px;
        }
        @include mobile-medium{
            position: relative;
            right: 400px;
        }
        @include mobile-petit{
            position: relative;
            right: 420px;
        }
        @include tablet{
            position: relative;
            right: 220px;
        }
    }
    .header-icons {
        margin-left: 20px;
        position: relative;
        top: 18px;
        @include mobile{
            margin-left: 40px;
        }
        @include mobile-medium{
            position: relative;
            right: 30px;
        }
        @include mobile-petit{
            position: relative;
            right: 45px;
        }
    }
    .header-localisation{
        margin-left: 50px;
        padding-bottom: 20px;
        @include mobile{
            margin-left: 70px;
        }
        @include mobile-medium{
            position: relative;
            right: 25px;
        }
        @include mobile-petit{
            position: relative;
            right: 45px;
        }
    }
    .header-card
    {
        height: 60px;
        @include header-card;
        @include mobile{
            padding-left: 90px;
        }
    }
    #header-image-menu{  /* MENU RESTAURANTS pages 2,3,4 et 5 */
        height: 300px;
    @include mobile{
        height: 175px;
    }
    @include mobile-petit{
        height: 135px;
    }
    }
    .incon-flèche{
        @include text-list;
        position: relative;
        top: 53px;
        left: 20px;
        
    }
    
}
/* article */
article{
    background-color: $color-fond-card;
    height: 120px;
    @include mobile{
        height: 250px;
    }
    .article-h1{
     margin-left: 20px;
     padding-top: 30px;
     font-family: Shrikhand-Regular;
     @include mobile{
         font-size: 23px;
         margin-left: 80px;
         margin-right: 75px;
         text-align-last: center;
     }
     @include mobile-medium{
         margin-left: 50px;
         margin-right: 50px;
     }
     @include mobile-petit{
         margin-left: 30px;
         margin-right: 30px;
     }
    }
    .article-p{
        padding-top: 5px;
        margin-left: 20px;
        font-family: Roboto-Thin;
        @include mobile{
            margin-left: 80px;
            margin-right: 65px;
            padding-top:10px;
            text-align-last: center;
        }
        @include mobile-medium{
            margin-left: 50px;
            margin-right: 50px;
        }
        @include mobile-petit{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .article-a{
        @include text-list;
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 55px;
        right: 30px;
    }
    .article-btn{
        @include btn;
        width: 17%;
        height: 45px;
        padding-top: 12px;
        padding-left: 20px;
        @include mobile{
            position: relative;
            right: 70px;
            top: 80px;
            width: 50%;
            padding-right: 5px;
        }
        @include mobile-medium{
           width: 56%;
           position: relative;
           right:50px;
        }
        @include mobile-petit{
            width:66%;
            position: relative;
            right: 25px;
        }
        @include tablet{
            position:relative;
            right: 20px;
            top: 10px;
            width: 28%;
        }
    }
}
/* main */
main{
    
    h2{
        @include title-h;
        @include mobile{
            font-size: 23px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .main-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @include mobile{
            @include FlexColumn;
        }
        @include tablet{
           
        }
    }
    .main-card{
        @include main-card;
        @include mobile{
            width: 85%;
        }
        @include tablet{
           width: 28%; 
        }
    }
    .main-card2{
        @include main-card;
        background-color: lighten($color:$secondary-color, $amount: 35%);
        @include mobile{
            width: 85%;
        }
        @include tablet{
            width: 28%;
        }
    }
    .main-a{
        @include text-list;
    }
    .main-1
    {
        @include numbers;
        @include position-numbers;
        @include mobile{
            padding-left: 6px;
            padding-top: 2px;
            height: 23px;
        }
        @include tablet{
            position: relative;
            top: 35px;
            padding-right: 14px;
        }
    }
    .main-2{
        @include numbers;
        @include position-numbers;
        @include mobile{
            padding-left: 6px;
            padding-top: 2px;
            height: 23px;
        }
        @include tablet{
            position: relative;
            top: 35px;
            padding-right: 14px;
        }
    }
    .main-3{
        @include numbers;
        @include position-numbers;
        @include mobile{
            padding-left: 6px;
            padding-top: 2px;
            height: 23px;
        }
        @include tablet{
            position: relative;
            top: 35px;
            padding-right: 14px;
        }
    }
    .main-menu{
       padding-left: 68px;
       position: relative;
       bottom: 10px;
       padding-bottom: 15px;
       @include mobile{
           padding-left: 72px;
       } 
    }
    i {
        color: grey;
        padding-left: 30px;
        position: relative;
        top: 8px;
        @include tablet{
            position: relative;
            top: 15px;
        }

    }
    .main-icons-color{
        color: $secondary-color;
    }
}
/* section */
section{
    #bloc-restaurants{
        width: 100%;
        height: 900px;
        box-sizing: border-box;
        border: none;
        margin-top: 50px;
        background-color: $primary-color;
        @include mobile{
            height: 1300px
        }
        @include tablet{
            height: 650px;
        }
    }
     h3{
      @include title-h;
      @include mobile{
          padding-top: 50px;
          font-size: 23px;
      }
     }
    .card-1-2{
        @include FlexCenter ($direction:row);
        justify-content: space-around;
        @include mobile{
            display: flex;
            flex-direction: column;
        }
        @include mobile-petit{
            margin-right: 7px;
        }
    }
    .card-3-4{
        @include FlexCenter ($direction:row);
        justify-content: space-around;
        @include mobile{
            display:flex;
            flex-direction: column;
        }
        @include mobile-petit{
            margin-right: 7px;
        }
    }
    .animation-heart{
      position: absolute;
      left: 450px;
      bottom: 32px;
      @include tablet{
          position: absolute;
          left: 260px;
      }
      @include mobile{
          position: absolute;
          left: 320px;
      }
      @include mobile-medium{
          position:absolute;
          left: 290px;
      }
      @include mobile-petit{
          position: absolute;
          left: 240px;
      }
      .section-icons{  /* coeur vide */
        font-size: 26px;
        cursor: pointer;
        
      }
      .section-icons-2{   /* coeur rempli */
        @include coeur-rempli;
        
      } 
    }
    .bloc-la-palette{
       @include bloc-restaurant;
       padding-bottom: 100px;
       margin-left: 30px;
       @include mobile{
           width: 90%;
           height: 260px;
           position: relative;
           top: 3px;
           right: 10px;
           
       }
       @include tablet{
        height: 235px;
       }
    }
       
    a{
    @include text-list;
    }
 
    .bloc-la-palette img{
    @include photos;
    height: 247px;
    @include mobile{
        height: 180px;
    }
    @include tablet{
        height:155px;
    }
    }
    .bloc-nouveau{
        @include bloc-nouveau1;
        @include mobile{
        position: relative;
        left: 265px;
        bottom:215px;
        width: 24%;
        padding-left: 12px;
        }
        @include mobile-medium{
            position: relative;
            left: 230px;
            width: 26%;
            bottom: 211px;
        }
        @include mobile-petit{
            position: relative;
            left:185px;
            width: 30%;
        }
        @include tablet{
            position: relative;
            left: 195px;
            bottom:190px;
            width: 30%;
        }
    }
    .description-la-palette{
        @include description-img;
    }
    .localisation{
        @include localisation;
        position: relative;
        top:10px;
    }
  
    .bloc-la-note{
        @include bloc-restaurant;
        margin-right: 20px;
        @include mobile{
            width: 90%;
            height: 260px;   
        }
        @include tablet{
          height:235px;
        }   
    }
    .bloc-la-note img{
        @include photos;
        height: 245px;
        @include mobile{
            height: 180px
        }
        @include tablet{
            height: 155px;
        }
    }
    .description-la-note{
        @include description-img;
    }
    .bloc-française{
        @include bloc-restaurant;
        margin-left: 30px;
        @include mobile{
            width: 90%;
            height: 260px;
            position: relative;
            right: 10px;
        }
        @include tablet{
            height: 230px;
        }
    }
    .bloc-française img{
        @include photos;
        height: 247px;
        @include mobile{
            height: 180px;
        }
        @include tablet{
          height: 150px;
        }
    }
    .description-française{
        @include description-img;
    }
    .bloc-le-delice{
        @include bloc-restaurant;
        margin-right: 20px;
        @include mobile{
            width: 90%;
            height: 260px;
        }
        @include tablet{
            height: 235px;
        }
    }
    .bloc-le-delice img{
        @include photos;
        height: 245px;
        @include mobile{
            height: 180px;
        }
        @include tablet{
            height: 155px;
        }
    }
    .description-le-delice{
        @include description-img;
    }
    .section-menus{      /*  Section MENU RESTAURANTS pages 2,3,4 et 5 */
      border: none;
      background-color: $primary-color;
      border-radius: 25px 25px 0 0;
      padding-bottom: 70px;
      position: relative;
      width: 100%;
      @include tablet{
          height: 1200px;
      }
    }
.h2-icons{
    position: relative;
    margin-bottom: 20px;
    .h2-menus{
        padding-left: 20px;
        padding-top: 40px;
        font-size: 28px;
        font-family: Shrikhand-Regular;
        @include mobile{
            font-size:23px;
            padding-bottom: 5px;
        }
    }
}
    .animation-heart-menu{
        position: absolute;
        left: 350px;
        bottom: 7px;
        @include mobile{
           position: absolute;
           left: 350px;
           bottom: 9px;
        }
        @include mobile-medium{
            position: absolute;
            left: 310px;
        }
        @include mobile-petit{
            position: absolute;
            left:270px;
        }
    .icons{
        font-size: 26px;
        cursor: pointer;
        @include mobile{
        font-size: 23px;
        }
    }
    .icons-2{
       @include coeur-rempli;
        @include mobile{
        font-size: 23px;
        }
    }
    .icon-coeur-française{
        @include mobile{
            
        }
    }
}
    .section-menu-h3{
        font-family: Roboto-Thin;
        border-bottom: solid $tertiaire;
        font-size: 20px;
        height: 30px;
        width: 13%;
        @include mobile{
            margin-left: 20px;
            margin-top: 20px;
        }
        @include tablet{
            margin-left: 20px;
            width: 8%;
        }   
    }
    .section-bloc-plats{
        border: none;
        background-color: white;
        height: 70px;
        border-radius: 15px;
        margin-top: 20px;
        position: relative;
        animation: section-bloc-plats; /* animation fichier animation */
        overflow: hidden;
        cursor: pointer;
        @include mobile{
            margin-left: 20px;
        }
        @include tablet{
            width: 60%;
            margin-left: 200px;
        }
    }
    .section-bloc-plats-grand{
        @include mobile-medium{
            height: 90px;
        }
    }
    .section-bloc-plats-petit{
        @include mobile-petit{
            height: 90px;
        }
    }
    .bloc-plats{
        width: 30%;
        @include mobile{
            width: 95%;
        }
        @include tablet{
            width: 80%;
        }
        a{
            display:inline-block;
            width: 100%;
            height: 100%;
        }
    }
    .section-prix{
        @include position-absolute;
        padding-bottom: 10px;
        padding-right: 20px;
      }
    .card-prix{
        border: none;
        width:15%;
        height: 20px;
        @include position-absolute;
        padding-bottom: 45px;
        padding-right: 20px;
        transition: 300ms all ease-out ;  /* animation */
    }
    .fa-check-circle{
        color: white;
        @include position-absolute;
        font-size: 150%;
        margin-bottom: 22px;
        margin-right: 18px;
        @include mobile{
            position: absolute;
            left:15px;           /* animation fichier animation */
        }
        @include mobile-medium{
            position: absolute;
            left: 12px;
        }
        @include mobile-petit{
            position: absolute;
            left: 9px;
        }
    }
    .fa-check-circle-grand{
        @include mobile-medium{
            position: absolute;
            bottom: 10px;
        }
    }
    .fa-check-circle-petit{
        @include mobile-petit{
            position: absolute;
            bottom: 10px;
        }
    }
    .card-icon-check{
        @include position-absolute;
        right: -15%;
        background-color: $tertiaire;
        border: none;
        width: 15%;
        height: 70px;
        border-radius: 0 15px 15px 0;
        transition: 300ms all ease-out ;   /* animation */
    }
    .card-icon-check-grand{
        @include mobile-medium{
            height: 90px;
        }
    }
    .card-icon-check-petit{
        @include mobile-petit{
            height: 90px;
        }
    }
    .nom-plats{
        font-family:Roboto-Medium;
        padding-left: 10px;
        font-size: 18px;
        padding-top: 25px;
        position: relative;
        bottom: 10px;
        cursor: pointer; 
    }
    .nom-plats-grand{
        @include mobile-medium{
            padding-right: 50px;
        }
    }
    .nom-plats-petit{
        @include mobile-petit{
            padding-right: 50px; 
        }
    }
    .section-plats{
        @include localisation;
        position: relative;
        bottom: 10px;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all;
        transition-timing-function: ease-out; /* animation */ 
        transition-duration: 0.4s;
        cursor: pointer;   
    }
    .bloc-menu-flex{
        display: flex;
        justify-content: space-evenly;
        @include mobile{
            @include FlexColumn;
        }
        @include tablet{
            @include FlexColumn;
        }
        
    }
    .section-menu-btn{
        @include btn;
        width: 12%;
        height: 40px;
        padding-top: 9px;
        padding-left: 30px;
        position:relative;
        left: 530px;
        top:25px;
        @include mobile{
            position: relative;
            left: 130px;
            top: 50px;
            width: 34%;
            margin-bottom: 40px;
        }
        @include mobile-medium{
            width: 40%;
            position: relative;
            left: 100px;
        }
        @include mobile-petit{
            width: 45%;
            position: relative;
            left: 80px;
        }
        @include tablet{
            width: 20%;
            position: relative;
            left: 290px;
        }    
    }
}
/* footer */
footer{
        @include footer;
        height: 100px;
        @include mobile{
            height: 150px;
            padding-left: 25px;
        }
        .footer-h1{
            @include footer-title;
            @include mobile{
                position: relative;
                right: 18px;
            }
        }
        .footer-a{
            @include text-list;
            color: white;
        }
        .footer-ul{
            @include FlexCenter ($direction:row);
            justify-content: space-around;
            padding-top: 20px;
            @include text-list;
            @include mobile{
                display: flex;
                flex-direction: column;
            }
        }
        






}

    
